<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>
<body>
  <%- include('./navbar.ejs')%>
  <img class="rounded mx-auto d-block" src="unl.png" alt="Imagen UNIVERSIDAD NACIONAL DE LOJA" style="margin-top: 20px;">
  <h2 class="text-center text-dark p-3 ">UNIVERSIDAD NACIONAL DE LOJA</h2>
  <div style="height: 3px; width: 50%; margin: auto; background: #222 ;border-radius: 5px; "></div>
  <h2 class="text-center text-dark p-3 " >INGENIERIA CIENCIAS DE LA COMPUTACIÓN</h2>
  
  <div class="mision" style=" width:80%; margin: auto; ">
    <h2 class="bg-dark text-center text-light" style="align-content: center;">Misión</h2>
    <p>Es misión de la Universidad Nacional de Loja: la formación académica y profesional, con sólidas bases científicas y técnicas, pertinencia social y valores; la generación y aplicación de conocimientos científicos, tecnológicos y técnicos, que aporten al desarrollo integral del entorno y al avance de la ciencia; el fortalecimiento del pensamiento, la promoción, desarrollo y difusión de los saberes y culturas; y, la prestación de servicios especializados.</p>
  </div>

</body>
</html>