<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
  <%- include('./navbar.ejs')%>
    <form action="/iniciar/sesion"  method="POST"
      class="text-center border position-absolute top-50 start-50 translate-middle bg-dark"
      style="width: 30%; margin: auto; padding: 20px; border-radius: 5px;">

      <div class="mb-3">
        <label for="email" class="form-label text-light">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label text-light">Clave</label>
        <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" required>
      </div>
      <div class="boton">
        <button type="submit" class="btn-success"
          style="padding: 10px; outline:none; border: none; border-radius:5px"><i class="bi bi-save"></i>Iniciar Sesion
        </button>
      </div>

      <div class="registrar">
        <a href="/registrar" class="btn btn-danger"
          style="padding: 10px; outline:none; border: none; border-radius:5px; margin-top: 10px;"><i
            class="bi bi-save"></i>Registrarse </a>
      </div>
    </form>

</body>
</html>